@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

* {
    height: 100%;
    width: 100%;
    margin: 0;
}

:root {
    --heading-font: 'Oswald', sans-serif;
    --main-font: 'Roboto', sans-serif;
}

body {
    display: grid;
    grid-template-rows: 2fr 10fr 1fr;
}

header {
    display: flex;
    flex: auto;
    font-family: var(--heading-font);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.main-body {
    font-family: var(--main-font);
}

.book-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

footer {  
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
}